/**************** MOBILE FIRST ****************/
:root {
  font-size: 4vmin;
  /* VARIABLES */
  --vh: 1vh; /* Valor inicial para la variable */
  --font-size-landscape: calc((1vw + 1vh) * 0.8);
  --font-size-portrait: calc((1vw + 1vh) * 1.2);
  --color-general-primary: rgb(76, 150, 199);
  --color-general-primary-alpha: rgba(76, 150, 199, 0.363);
  --color-general-secondary: grey;
  --color-general-secondary-alpha: #222222c5;
  --border-general: 1px solid black;
}

[data-theme='dark'] {
  --color-box-shadow: #737d60;
  --color-primary: white;
  --color-secondary: #3b3b3b;
  --color-terciary: #394733;
  --color-secondary-alpha: #939e8f80;
  --color-background: black;
  --color-background-secondary: #222;
  --color-background-alpha: #2e312bec;
  --color-background-alpha-secondary: #222222ce;
  --border: 1px solid var(--color-primary);
  --icon-fill: white;
  --title-color: white;
  --h3-font-weight: 100;
  --font-weight: 400;
}

[data-theme='light'] {
  --color-box-shadow: #424739;
  --color-primary: black;
  --color-secondary: #d3d2d2;
  --color-terciary: #c4e3b8;
  --color-secondary-alpha: #89a18480;
  --color-background: rgb(233, 233, 233);
  --color-background-secondary: #ffffff;
  --color-background-alpha: #ffffffec;
  --color-background-alpha-secondary: #d8d8d8ce;
  --border: 1px solid var(--color-primary);
  --icon-fill: black;
  --title-color: dark;
  --h3-font-weight: 300;
  --font-weight: 500;
}

*,
*::before,
*::after,
html {
  box-sizing: border-box;
  user-select: none; /* Estándar moderno */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  /* Elimina el color de resaltado en dispositivos móviles */
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  height: calc(
    var(--vh, 1vh) * 100
  ); /*No cambiar, evita overflow xq considera el encabezado web (solo te das cuenta desde el tel físico)*/
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  color: var(--color-primary);
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

:hover:not(body, .menu) .button:not(svg, .active-button) {
  transition: color 0.8s ease-in-out;
}

a {
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
}

a,
button {
  display: flex;
  align-items: center; /*Centra svg dentro de su padre*/
  justify-content: center;
}

p:not(#name) {
  transition: color 0.8s ease-in-out;
}

@keyframes slideInRotate {
  0% {
    opacity: 0;
    transform: translateY(-3vh) rotate(0deg);
  }
  100% {
    opacity: 0.5;
    transform: translateY(0) rotate(1080deg);
  }
}

.infoBtnTransition {
  animation: slideInRotate 1s ease-out forwards;
}

.infoBtn {
  fill: var(--icon-fill);
  position: absolute;
  top: 1.5vh;
  right: 2vh;
  width: 5vw;
  height: 5vh;
  cursor: pointer;
  opacity: 0.5;
}

/* Para ganar en especificidad */
.infoModal.hidden {
  animation: animate-modal-close 150ms ease-in-out forwards;
}

.infoModal {
  white-space: pre-wrap; /*Para que interprete los \n del .json*/
  width: 80%;
  pointer-events: auto;
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 1rem;
  align-content: center;
  animation: animate-modal-open 150ms ease-out forwards;
  transform-origin: 0 0;
  & h3 {
    margin: 0;
  }
  & p {
    font-weight: var(--font-weight);
  }
  & a {
    background-color: var(--color-general-primary-alpha);
    font-size: 4vw;
    width: fit-content;
    margin: auto;
    border: var(--border);
    font-weight: var(--font-weight);
  }
}

.infoBkg {
  padding: 3vh 4vw;
  border: 1px solid var(--color-primary);
  background-color: var(--color-background);
  z-index: -1;
}

svg {
  fill: var(--icon-fill);
  transition: fill 0.8s ease-in-out;
  width: 8vw;
  height: 8vw;
}

select:focus-visible {
  outline: none;
}

option {
  color: var(--color-primary);
  background-color: var(--color-background);
}

.container {
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#language-btn {
  color: var(--color-primary);
  background-color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: inherit;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  margin: 2vh 6vw;
  padding: 2vh;
}

#theme-btn {
  position: fixed;
  pointer-events: auto;
  z-index: 11;
}

#name {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
  border-radius: 50px;
  padding: 2vw;
}

#hamburguer-btn {
  cursor: pointer;
  border-radius: 50px;
  padding: 2vh;
}

#hamburguer-svg {
  height: 2.1rem;
}

#close-menu {
  font-size: 2.1rem;
  font-weight: 400;
  transform: translate(-25%);
}

#avatar {
  width: 40vmin;
}

#wrapper {
  pointer-events: none;
  position: absolute;
  inset: 0;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden; /*NO BORRAR, sirve en cuadrada minimo*/
}

.menu {
  z-index: 999;
  pointer-events: all;
  position: absolute;
  top: 0;
  height: calc(var(--vh, 1vh) * 90);
  width: 100vw;
  background-color: var(--color-background-alpha);
  transition: background-color 0.8s ease-in-out;
}

#mobile-main-menu {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(var(--vh, 1vh) * 85);
  padding-top: 8vh;
}

#mobile-main-menu > a {
  line-height: 0;
  background-color: var(--color-secondary-alpha);
  border-radius: 0;
}

.active-button {
  background-color: var(--color-background) !important;
  color: var(--color-primary);
}

#mobile-header {
  pointer-events: auto;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  bottom: 0vh;
  width: 100vw;
  height: 10vh;
  background-color: var(--color-background-alpha);
}

.skills-list {
  padding: 0;
  list-style: none;
  width: 90%;
  line-height: 5vh;
}

.skills-list li {
  display: flex;
  align-items: center;
}

.skill-container {
  display: flex;
  width: 40%;
  justify-content: right;
  align-items: center;
}

.skills-list img {
  margin-right: 15px;
}

.skills-list img.landscape {
  max-width: calc(var(--font-size-landscape) * 2);
}

.skills-list img.portrait {
  max-height: calc(var(--font-size-landscape) * 1.8);
}

#js-icon {
  max-height: calc(var(--font-size-landscape) * 1.5);
}

.skill-name {
  font-weight: bold;
  margin-right: 10px;
  white-space: nowrap;
  text-overflow: clip;
}

.progress-bar {
  background-color: var(--color-background-secondary);
  width: 60%;
  height: calc(var(--font-size-landscape) * 0.6);
  margin-left: 10px;
  overflow: hidden;
}

@keyframes progress {
  0% {
    width: 0;
  }
}

.fill-progress {
  animation: progress 200ms ease-out backwards;
}

.progress {
  background-color: var(--color-general-primary);
  height: 100%;
}

.modal {
  z-index: 999;
  pointer-events: all;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100vw;
  background-color: var(--color-background-alpha);
}

@keyframes animate-modal-open {
  0% {
    transform: scale(0) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes animate-modal-close {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(0) translate(-50%, -50%);
    opacity: 0;
  }
}

/* Para ganar en especificidad */
.detail.hidden {
  animation: animate-modal-close 150ms ease-in-out forwards;
}

.detail {
  padding-top: -3vh;
  pointer-events: auto;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: animate-modal-open 150ms ease-out forwards;
  transform-origin: 0 0;
}

.detail h3 {
  font-size: 6vw;
  margin-bottom: 0;
  color: var(--title-color);
}

figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  margin: 3vh 0 0;
  justify-self: center;
}

figure img {
  width: 90vw;
  max-height: 50vh;
  object-fit: contain;
}

figcaption {
  font-size: 4.3vw;
  margin: 2vh;
  font-weight: var(--font-weight);
}

.btn-panel {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.detail .btn-panel .button {
  margin: 0;
  font-size: 4vw;
  height: fit-content;
  width: fit-content;
  border: var(--border);
  background-color: var(--color-general-primary-alpha);
  font-weight: var(--font-weight);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 90);
  overflow: hidden;
  padding: 10vh 0;
}

@keyframes slideIn {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 200ms ease-out forwards;
}

.page a {
  border: none;
  height: fit-content;
  opacity: 0;
  background-color: var(--color-general-primary-alpha);
  border: var(--border);
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  height: 100%;
}

.button {
  background-color: transparent;
  color: var(--color-primary);
  border: none;
  cursor: pointer;
  border-radius: 50px;
  padding: 2vh;
  display: flex;
  margin: 2vh 6vw;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(2turn);
  }
}

.rotate {
  animation: rotate 0.8s cubic-bezier(0, 0.24, 0.59, 0.92);
}

#contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact-img {
  border-radius: 50px;
  cursor: pointer;
  height: 2rem;
}

#desktop-footer a {
  align-items: center;
  justify-content: center;
}

.linkedin {
  width: 80%;
  border-radius: 0;
  aspect-ratio: 1;
}

#cv {
  width: 66px;
}

.long-text {
  font-size: 1.2rem;
}

/******** Aspect 1:2 ********/

@media (min-aspect-ratio: 0.53) {
  .detail {
    justify-content: center;
    padding: 2vh;
  }
  .detail h3 {
    font-size: 1rem;
    margin-top: 2vh;
  }
  figcaption {
    font-size: 0.8rem;
  }
  .page {
    padding: 0;
  }
}

/* Para skill list */
@media (min-aspect-ratio: 0.85) {
  .skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: var(--font-size-portrait);
    line-height: 10vh;
    & img {
      margin: 5px;
    }
    & span {
      margin-right: 0;
    }
  }
  .progress-bar {
    width: 50%;
  }
}

/******** DESKTOP ********/

@media (min-aspect-ratio: 1.2) {
  /**** HEADER ****/
  #desktop-header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 2vh;
    width: 100%;
    background-color: var(--color-background-secondary);
  }

  @keyframes glowing {
    50% {
      background-color: var(--color-secondary);
    }
  }

  .glowing {
    animation: glowing 1s ease-in-out;
  }

  #desktop-header a {
    border-radius: 0;
  }

  svg {
    width: auto;
  }

  .infoBtn {
    top: 15vh;
    right: 3vw;
    width: 3vw;
    height: 3vh;
  }

  .container {
    top: 51%;
  }

  #presentacion {
    font-size: 3vmin;
  }

  .skills-list {
    margin-bottom: 20px;
    padding: 0;
    line-height: calc(var(--font-size-landscape) * 3);
    width: 80%;
  }

  .skills-list li {
    margin-bottom: 2vh;
    justify-content: center;
    font-size: 2.5vh;
  }

  .skill-container {
    width: 15%;
  }

  .skills-list img.landscape {
    max-width: calc(var(--font-size-landscape) * 1.8);
  }

  .skills-list img.portrait {
    max-height: calc(var(--font-size-landscape) * 1.6);
  }

  #js-icon {
    max-height: calc(var(--font-size-landscape) * 1.3);
  }

  .progress-bar {
    width: 60%;
    margin-right: 1vw;
  }

  .modal {
    z-index: 99;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100vh;
    transform: translate(-50%, -50%);
    background-color: var(--color-background-alpha-secondary);
  }

  .detail {
    top: 49%;
    gap: 50vh;
    width: 85vw;
    height: 80vh;
  }

  .modalBkg {
    position: absolute;
    top: 5vh;
    left: 5vw;
    right: 5vw;
    bottom: 5vh;
    border: 1px solid var(--color-secondary);
    border-radius: 200px;
    z-index: -1;
    background-color: var(--color-background);
  }

  .infoModal {
    top: 50%;
    & p {
      font-size: 1rem;
    }
    & a {
      font-size: 1rem;
      font-weight: normal;
    }
    & p {
      font-weight: normal;
    }
  }

  .infoBkg {
    padding: 9vh 7vw;
  }

  .detail h3 {
    position: absolute;
    font-size: 4vw;
    top: -8%;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
    z-index: 9;
    font-weight: var(--h3-font-weight);
    background-color: var(--color-background-secondary);
    border-radius: 50px;
    padding: 0 1.2vw;
    border: var(--border);
  }

  figure {
    position: absolute;
    margin: 0; /*NO BORRAR, limpia el otro*/
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  figure img {
    margin-left: -2vw;
    max-height: 55vh;
    width: fit-content;
    max-width: 60%;
  }

  figcaption {
    margin-right: -2vw;
    font-size: 1.7vw;
    width: 60%;
    height: fit-content;
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-primary);
    border-radius: 50px;
    padding: 1vh 1.3vw;
    font-weight: normal;
  }

  .detail .btn-panel .button {
    position: absolute;
    font-size: 1.5vw;
    bottom: -3vh;
    font-weight: normal;
  }

  .detail .btn-panel .button:first-of-type {
    left: 9vw;
  }
  .detail .btn-panel .button:first-of-type:hover {
    background-color: var(--color-general-primary);
  }

  .detail .btn-panel .button:last-of-type {
    font-size: 2.2vw;
    right: 9vw;
  }
  .detail .btn-panel .button:last-of-type:hover {
    background-color: var(--color-general-primary);
  }

  .link {
    font-size: 0.8rem;
  }

  .button {
    margin: 0;
  }

  .button:hover {
    background-color: var(--color-general-primary);
  }

  .contact-img {
    height: 1.3rem;
  }

  #language-btn {
    position: static;
    margin: 0;
    font-size: 0.8rem;
    border-radius: 0;
    height: 100%;
    padding: 0;
  }

  #theme-btn {
    position: static;
  }

  #cv-desktop {
    font-size: 1rem;
    font-weight: 600;
    aspect-ratio: 1;
  }

  .page {
    height: 100vh;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 40px;
    padding: 0 4vw;
  }

  @keyframes slideIn {
    from {
      transform: translateX(-100vw);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .page > a:hover {
    background-color: var(--color-general-primary);
  }

  /**** FOOTER ****/
  @keyframes icons {
    0% {
      transform: translateY(0) rotate(0);
    }
    15% {
      transform: translateY(20px) rotate(1800deg);
    }
    25% {
      transform: translateY(-12px) rotate(2880deg);
    }
    45% {
      transform: translateY(10px) rotate(3960deg);
    }
    75% {
      transform: translateY(-3px) rotate(3960deg);
    }
    100% {
      transform: translateY(0) rotate(3960deg);
    }
  }

  .animate-icon {
    animation: icons 1s;
    animation-timing-function: cubic-bezier(0, 0.75, 0.37, 0.95);
  }

  #desktop-footer {
    box-sizing: border-box;
    width: 100%;
    height: 11vh;
    position: fixed;
    display: flex;
    justify-content: space-around;
    bottom: 2vh;
    padding: 0 5vw;
    padding-top: 2vh;
  }
}
