Mobile First *,
*::before,
*::after,
html {
  box-sizing: border-box;
  user-select: none; /* Estándar moderno */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  /* Elimina el color de resaltado en dispositivos móviles */
  -webkit-tap-highlight-color: transparent;
}

:root {
  font-size: 4vmin;
  --color-primary: white;
  --color-secondary: #95c082;
  --color-background: black;
  --color-background-alpha: #4e644450;
}

body {
  height: 100%;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 200;
  background-color: var(--color-background);
  color: var(--color-primary);
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#desktop-menu {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 4vh;
  padding: 0 5vw;
  z-index: 10;
}

#desktop-menu > a {
  padding: 2vh;
  border-radius: 50px;
}

#desktop-menu > a:hover {
  background-color: var(--color-background-alpha);
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  border-radius: 50px;
  position: fixed;
  top: 4vh;
  left: 0;
  width: 1.3rem;
  padding: 2vh;
  margin: 0 5vw;
  z-index: 11;
}

#logo:hover {
  background-color: var(--color-background-alpha);
}

#language-btn {
  cursor: pointer;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 200;
  background-color: transparent;
  color: var(--color-primary);
  position: fixed;
  top: 4vh;
  right: 0;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 2vh;
  margin: 0 5vw;
  z-index: 11;
}

#language-btn:hover {
  background-color: var(--color-background-alpha);
}

#name {
  font-size: 3vh;
  border-radius: 50px;
  padding: 1vh 2vw;
}

#menu-btn {
  box-sizing: content-box;
  display: flex;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 2vw;
  height: 100%;
}

#menu-btn:hover {
  background-color: var(--color-background-alpha);
}

#menu-btn > img {
  height: 100%;
}

#avatar {
  width: 40vmin;
}

#presentacion {
  margin: 2vh 13vw 10vh;
}

#mobile-header {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  bottom: 2.5vh;
  width: 100vw;
  height: 3vh;
  z-index: 10;
}

.mobile-menu {
  justify-content: space-around;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  padding: 7vh 0;
  background-color: var(--color-background);
  width: 100%;
  height: calc(100vh - 23vh); /*En el celu se ve mejor en 23vh*/
  z-index: 10;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  height: 100%;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#contact > a {
  margin: 0 5vw;
  padding: 0;
  display: flex;
  align-items: center;
}

.contact-img {
  height: auto;
  min-height: 10vmin;
  flex: 0 1 auto;
  cursor: pointer;
}

.contact-img:hover {
  filter: invert(0.5);
}

.long-text {
  font-size: 1.2rem;
}

.link:hover {
  cursor: pointer;
  background-color: var(--color-background-alpha);
}

#contact:hover {
  background-color: var(--color-background-alpha);
}

/******** DESKTOP ********/

@media (orientation: landscape) {
  .mobile-menu {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
  }

  .link {
    font-size: 0.8rem;
  }

  #presentacion {
    margin: 0 20vw;
  }
}
