@import "tailwindcss";

@theme {
  --font-size-landscape: calc((1vw + 1vh) * 0.8);
  --font-size-portrait: calc((1vw + 1vh) * 1.2);
  --color-general-primary: rgb(76, 150, 199);
  --color-general-primary-alpha: rgba(76, 150, 199, 0.363);
  --color-general-secondary: grey;
  --color-general-secondary-alpha: #222222c5;
  --border-general: 1px solid black;
  /* Dark theme variables (default) */
  --color-box-shadow: #737d60;
  --color-primary: white;
  --color-secondary: #3b3b3b;
  --color-terciary: #394733;
  --color-secondary-alpha: #939e8f80;
  --color-background-primary: black;
  --color-background-secondary: #222;
  --color-background-alpha: #2e312bec;
  --color-background-alpha-secondary: #222222ce;
  --border: 1px solid var(--color-primary);
  --icon-fill: white;
  --title-color: white;
  --h3-font-weight: 400;
  --font-weight: 400;
}

/************************************/
/*************** Base ***************/
/************************************/

@layer base {
  html {
    font-size: 3.5vmin;
  }

  *,
  *::before,
  *::after,
  html {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    position: relative;
    /* height: 90svh; */
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    background-color: var(--color-background-primary);
    color: var(--color-primary);
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  #root {
    height: inherit;
  }

  h3 {
    @apply text-[1.17em] font-bold;
  }

  p {
    @apply my-5 leading-6 landscape:leading-4;
  }

  .light {
    --color-box-shadow: #424739;
    --color-primary: black;
    --color-secondary: #d3d2d2;
    --color-terciary: #c4e3b8;
    --color-secondary-alpha: #89a18480;
    --color-background-primary: #ffffff;
    --color-background-secondary: rgb(233, 233, 233);
    --color-background-alpha: #ffffffec;
    --color-background-alpha-secondary: #d8d8d8ce;
    --border: 1px solid var(--color-primary);
    --icon-fill: black;
    --title-color: dark;
    --h3-font-weight: 600;
    --font-weight: 500;
  }
}

/************************************/
/************ Components ************/
/************************************/

@layer components {
  .modal {
    @apply bg-background-alpha pointer-events-auto absolute top-1/2 left-1/2 z-10 h-full w-screen -translate-x-1/2 -translate-y-1/2;
  }

  .infoModal {
    @apply pointer-events-auto absolute top-1/2 left-1/2 w-[80%] origin-center -translate-x-1/2 -translate-y-1/2 content-center text-[2.2vh] whitespace-pre-wrap;
  }

  .infoModal h3 {
    @apply m-0;
  }

  .infoModal p {
    @apply font-[var(--font-weight)];
  }

  .infoModal a {
    @apply bg-general-primary-alpha m-auto flex w-fit cursor-pointer rounded-[50px] border-1 border-solid border-[var(--border)] p-[2vh] font-[var(--font-weight)] text-[var(--color-primary)];
  }
  .infoBkg {
    @apply border-primary bg-background-primary -z-10 border p-4;
  }
  .mobile-menu-instance > a {
    @apply bg-secondary-alpha rounded-none leading-none;
  }
}

/************************************/
/************ Utilities* ************/
/************************************/

@layer utilities {
  .h-landscape {
    height: var(--font-size-landscape);
  }
  .h-portrait {
    height: var(--font-size-portrait);
  }
  .border-general {
    border: var(--border-general);
  }
  .general-primary {
    color: var(--color-general-primary);
  }
  .bg-general-primary {
    background-color: var(--color-general-primary);
  }
  .general-primary-alpha {
    color: var(--color-general-primary-alpha);
  }
  .bg-general-primary-alpha {
    background-color: var(--color-general-primary-alpha);
  }
  .general-secondary {
    color: var(--color-general-secondary);
  }
  .bg-general-secondary {
    background-color: var(--color-general-secondary);
  }
  .general-secondary-alpha {
    color: var(--color-general-secondary-alpha);
  }
  .bg-general-secondary-alpha {
    background-color: var(--color-general-secondary-alpha);
  }
  .primary {
    color: var(--color-primary);
  }
  .secondary {
    color: var(--color-secondary);
  }
  .bg-primary {
    background-color: var(--color-background-primary);
  }
  .bg-secondary {
    background-color: var(--color-background-secondary);
  }
  .bg-alpha {
    background-color: var(--color-background-alpha);
  }
  .bg-alpha-secondary {
    background-color: var(--color-background-alpha-secondary);
  }
  .shadow-box {
    box-shadow: 0 0 10px var(--color-box-shadow);
  }
  .border-theme {
    border: var(--border);
  }
  .text-size-landscape {
    font-size: var(--font-size-landscape);
  }
  .text-size-portrait {
    font-size: var(--font-size-portrait);
  }
  .font-h3 {
    font-weight: var(--h3-font-weight);
  }
  .font-base {
    font-weight: var(--font-weight);
  }
  .text-title {
    color: var(--title-color);
  }
  .button-hover {
    background-color: var(--color-general-primary);
  }
  .font-raleway {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
  }
  .fill-icon {
    fill: var(--icon-fill);
  }
}
