@import "tailwindcss";

@custom-variant square {
  @media (min-aspect-ratio: 0.6) {
    @slot;
  }
}
@custom-variant wide {
  @media (min-aspect-ratio: 1.2) {
    @slot;
  }
}

@theme {
  --font-size-landscape: calc((1vw + 1vh) * 0.8);
  --font-size-portrait: calc((1vw + 1vh) * 1.2);
  --color-general-primary: rgb(76, 150, 199);
  --color-general-primary-alpha: rgba(76, 150, 199, 0.363);
  --color-general-secondary: grey;
  --color-general-secondary-alpha: #222222c5;
  --border-general: 1px solid black;
  /* Dark theme variables (default) */
  --color-box-shadow: #737d60;
  --color-primary: white;
  --color-secondary: #3b3b3b;
  --color-terciary: #394733;
  --color-secondary-alpha: #939e8f80;
  --color-background-primary: black;
  --color-background-secondary: #222;
  --color-background-alpha: #2e312bec;
  --color-background-alpha-secondary: #222222ce;
  --icon-fill: white;
  --font-weight-h3: 400;
  --font-weight: 400;
}

/************************************/
/*************** Base ***************/
/************************************/

@layer base {
  *,
  *::before,
  *::after,
  html {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    position: relative;
    overflow: hidden;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    background-color: var(--color-background-primary);
    color: var(--color-primary);
    padding: 0;
    text-align: center;
  }

  #root {
    height: inherit;
  }

  h1 {
    @apply text-lg font-bold;
    @variant square {
      @apply text-2xl;
    }
  }
  h3 {
    @apply text-[1.17em] font-bold;
  }

  svg {
    @apply h-6 cursor-pointer landscape:w-auto;
  }

  .light {
    --color-box-shadow: #424739;
    --color-primary: black;
    --color-secondary: #d3d2d2;
    --color-terciary: #c4e3b8;
    --color-secondary-alpha: #89a18480;
    --color-background-primary: #ffffff;
    --color-background-secondary: rgb(233, 233, 233);
    --color-background-alpha: #ddddddea;
    --color-background-alpha-secondary: #d8d8d8ce;
    /* --border: 1px solid var(--color-primary); */
    --icon-fill: black;
    --title-color: dark;
    --font-weight-h3: 600;
    --font-weight: 500;
  }
}

/************************************/
/************ Components ************/
/************************************/

@layer components {
  .modal {
    @apply bg-background-alpha wide:bg-background-alpha-secondary pointer-events-auto fixed top-1/2 left-1/2 z-10 box-border h-svh w-screen -translate-x-1/2 -translate-y-1/2;
  }
  .modalBkg {
    @variant wide {
      @apply border-secondary bg-background-primary absolute top-1/2 left-1/2 h-4/5 w-3/4 -translate-1/2 rounded-[3rem] border-1 border-solid;
    }
  }
  .infoModal {
    @apply pointer-events-auto absolute top-1/2 left-1/2 w-8/10 origin-center -translate-x-1/2 -translate-y-1/2 content-center whitespace-pre-wrap landscape:max-w-1/2;
  }
  .infoModal h1 {
    @apply m-2;
  }
  .infoModal p {
    @apply my-4 font-[var(--weight)];
    @variant landscape {
      @apply my-6;
    }
  }
  .modal a {
    @apply bg-general-primary-alpha hover:bg-general-primary mx-auto my-3 flex w-fit cursor-pointer rounded-xl border-1 border-solid p-2 font-[var(--weight)] text-[var(--color-primary)];
  }
  .infoBkg {
    @apply border-primary bg-background-primary gap-3 rounded-2xl border p-4;
    @variant landscape {
      @apply py-8;
    }
  }
  .mobile-menu-instance > a {
    @apply bg-secondary-alpha border-primary border-1 border-solid;
  }
  .detailBtn {
    @apply border-primary bg-general-primary-alpha m-0 h-fit w-fit border-1 border-solid font-[var(--weight)];
    @variant square {
      @apply mb-2 text-white;
    }
    @variant landscape {
      @apply text-lg;
    }
    @variant wide {
      @apply absolute -bottom-8 font-normal;
    }
  }
  .detail {
    @apply pointer-events-auto absolute top-1/2 left-1/2 flex h-full w-full origin-center -translate-x-1/2 -translate-y-1/2 flex-col justify-center landscape:h-8/10 landscape:w-85/100;
  }
  .modalTitle {
    @apply text-primary mx-4 mb-3;
    /* @variant square {
      @apply mt-[4vh];
    } */
    @variant wide {
      @apply bg-background-secondary border-primary absolute -top-4 left-1/2 z-10 -translate-x-1/2 rounded-xl border-1 border-solid px-2 py-0 font-[var(--font-weight-h3)] text-nowrap;
    }
  }
  .modalFigure {
    @apply flex flex-col justify-self-center;
    @variant wide {
      @apply absolute m-0 h-full w-full flex-row items-center justify-around;
    }
  }
  .modalImg {
    @apply max-h-[50vh] w-[90vw] self-center object-contain;
    @variant wide {
      @apply -ml-[2vw] max-h-[55vh] w-fit max-w-[60%];
    }
  }
  .modalCaption {
    @apply m-2 text-sm font-[var(--font-weight)] whitespace-pre-line;
    @variant wide {
      @apply bg-background-secondary border-primary -mr-8 h-fit w-6/10 rounded-r-2xl border-1 border-solid p-4 font-normal;
    }
  }
  .page {
    @apply flex flex-col flex-wrap content-center items-center justify-center text-sm;
    @variant square {
      @apply box-border flex-row flex-wrap content-center px-2 py-0;
    }
  }
  .page-item {
    @apply text-primary border-primary bg-general-primary-alpha hover:bg-general-primary m-2 flex h-fit cursor-pointer justify-center rounded-full border-1 border-solid p-2 text-nowrap;
  }
  .sec {
    @apply bg-general-secondary-alpha font-extralight text-white;
  }
}

/************************************/
/************ Utilities* ************/
/************************************/

@layer utilities {
  .bg-general-primary {
    background-color: var(--color-general-primary);
  }
  .bg-general-primary-alpha {
    background-color: var(--color-general-primary-alpha);
  }
  .primary {
    color: var(--color-primary);
  }
  .secondary {
    color: var(--color-secondary);
  }
  .bg-primary {
    background-color: var(--color-background-primary);
  }
  .bg-secondary {
    background-color: var(--color-background-secondary);
  }
  .text-size-portrait {
    font-size: var(--font-size-portrait);
  }
  .font-base {
    font-weight: var(--weight);
  }
  .fill-icon {
    fill: var(--icon-fill);
  }
  .long-content {
    /* font-size: 0.8rem; */
    padding-block: 0.15rem;
    margin-block: 0.4rem;
    @variant wide {
      padding-block: 0.5rem;
      font-size: inherit;
      margin-block: 0.5rem;
    }
  }
}
