@import "tailwindcss";

@theme {
  --font-size-landscape: calc((1vw + 1vh) * 0.8);
  --font-size-portrait: calc((1vw + 1vh) * 1.2);
  --color-general-primary: rgb(76, 150, 199);
  --color-general-primary-alpha: rgba(76, 150, 199, 0.363);
  --color-general-secondary: grey;
  --color-general-secondary-alpha: #222222c5;
  --border-general: 1px solid black;
}

@layer base {
  html {
    font-size: 3.5vmin;
  }
  [data-theme="dark"] {
    --color-box-shadow: #737d60;
    --color-primary: white;
    --color-secondary: #3b3b3b;
    --color-terciary: #394733;
    --color-secondary-alpha: #939e8f80;
    --color-background-primary: black;
    --color-background-secondary: #222;
    --color-background-alpha: #2e312bec;
    --color-background-alpha-secondary: #222222ce;
    --border: 1px solid var(--color-primary);
    --icon-fill: white;
    --title-color: white;
    --h3-font-weight: 400;
    --font-weight: 400;
  }

  [data-theme="light"] {
    --color-box-shadow: #424739;
    --color-primary: black;
    --color-secondary: #d3d2d2;
    --color-terciary: #c4e3b8;
    --color-secondary-alpha: #89a18480;
    --color-background-primary: rgb(233, 233, 233);
    --color-background-secondary: #ffffff;
    --color-background-alpha: #ffffffec;
    --color-background-alpha-secondary: #d8d8d8ce;
    --border: 1px solid var(--color-primary);
    --icon-fill: black;
    --title-color: dark;
    --h3-font-weight: 600;
    --font-weight: 500;
  }
}

@layer utilities {
  .h-landscape {
    height: var(--font-size-landscape);
  }
  .general-primary {
    color: var(--color-general-primary);
  }
  .bg-general-primary {
    background-color: var(--color-general-primary);
  }
  .bg-general-primary-alpha {
    background-color: var(--color-general-primary-alpha);
  }
  .general-secondary {
    color: var(--color-general-secondary);
  }
  .bg-general-secondary {
    background-color: var(--color-general-secondary);
  }
  .bg-general-secondary-alpha {
    background-color: var(--color-general-secondary-alpha);
  }
  .bg-primary {
    background-color: var(--color-background-primary);
  }
  .bg-secondary {
    background-color: var(--color-background-secondary);
  }
  .bg-alpha {
    background-color: var(--color-background-alpha);
  }
  .bg-alpha-secondary {
    background-color: var(--color-background-alpha-secondary);
  }
  .shadow-box {
    box-shadow: 0 0 10px var(--color-box-shadow);
  }
  .border-general {
    border: var(--border-general);
  }
  .border-theme {
    border: var(--border);
  }
  .text-size-landscape {
    font-size: var(--font-size-landscape);
  }
  .text-size-portrait {
    font-size: var(--font-size-portrait);
  }
  .font-h3 {
    font-weight: var(--h3-font-weight);
  }
  .font-base {
    font-weight: var(--font-weight);
  }
  .fill-icon {
    fill: var(--icon-fill);
  }
  .text-title {
    color: var(--title-color);
  }
}
